.aboutMe{
    height: 100vh;
    background-color: #324a5f;
}

.aboutMeTitle{
    font-size: 5em;
    margin-left: 11vw;
    padding-top: 22vh;
    font-family: LeagueSpartan;
    margin-bottom: 0;
}

.aboutMe-wrapper{
    display: flex;
    gap: 5%;
    width: 80vw;
    margin: 0 auto 0 auto;
}

.left-flex{
    height: 30vh;
}

.left-content{
    font-size: 2em;
    width: 40vw;
    padding-left: 3%;
}

.lang-wrapper{
    padding: 13% 0 0 0;
}

.lang-wrapper p{
    font-size: 2em;
    width: 40vw;
}

.lang-wrapper h1{
    font-size: 5em;
    margin-bottom: 0;
    font-family: LeagueSpartan;
}

.aboutMe-wrapper div{
    width: 50%;
}
