.aboutMeTitle{
    font-size: 5em;
    margin-left: 11vw;
}

.left-content{
    font-size: 2em;
    margin-left: 25%;
    height: 60vh;
}

.left-content p{
    margin: auto 0 auto 0;
}

.aboutMe-wrapper{
    display: flex;
    margin-top: 5%;
    gap: 5%;
}


.lang-wrapper{
    border-radius: 20px;
    height: 60vh;
}

.lang-wrapper h2{
    color: rgba(255, 255, 255, 0.815);
    margin-top: 2%;
}

.aboutMe-wrapper div{
    width: 50%;
}

.lng-container {
    border-radius: 5%;
    width: 500px;
    height: 190px;
}

.lngIcon {
    height: 50px;
    margin-top: 30px;
}

.iconFlex {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.lang {
    text-align: center;   
}


.aboutTitle h2{
    padding-top: 11px;
}

.right-of-image{
    display: flex;
    gap: 5%;
}


.right-of-image p {
    margin-left: 16px;
    font-size: 20px;
    width: 45%;
    margin-top: 6%;
}

.lang-title {
    font-size: 30px !important;
}

.lang h1{
    font-size: 20px;
}
.box {
    display: flex;
    background: #ffffff0a;
    gap: 20%;
    padding: 1% 5% 1% 2%;
    border-radius: 3%;
    text-align: left;
    width: 300px !important;
}

.knownlang{
    display: flex;
    gap: 20%;
}

.box h1 {
    margin: auto 0 auto 0;   
    font-weight: bold;
    font-size: 16px;
}

.box img {
    margin: auto 0 auto 0; 
    height: 35px;
    width: auto;  
}


.lang-sub {
    margin-top: 3%;
}

.newrow {
    margin-top: 3%;
}

