.conTitle {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 160px;
}



.contact {
    text-align: center;
}

.contact p {
    font-size: 3em;
    width: 50%;
    margin: 0 auto 0 auto;
}

.contact form {
    font-size: 10px;
    margin-top: 10vh;
}

.contact input {
    height: 25px; 
    background-color:   #181818;
    color: white;
    border-radius: 0.5em;    
    border: solid 2px #808080;
}

.contact textarea {
    resize: none; 
    width: 300px;
    background-color:   #181818;
    color: white;
    border: solid 2px #808080;
    border-radius: 0.5em;
}

.submit {
    font-size: 15px; 
    border: 1px solid silver;
    width: 100px;
    font-size: 12px;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    transition: color 0.4s linear;
}

input:hover[type="submit"]{
    cursor: pointer;
    background-color: #c9c9c9;
    color: black; 
    border: #c9c9c9;
}
