.expTitle h1::after{
    content: "";
    display: block;
    width: 400px;
    height: 1px;
    background-color: #808080;
    margin: -17px 0 0 190px;
}
    
.menu1 {
    font-size: 20px;
    margin-bottom: 100px;
}
    
.expTitle{
        display: flex;
        font-size: 18px;
        font-weight: bold;
        gap: 30px;
        margin-left: 20%;
        font-family: century;
}
    
.expTitle h2{
    padding-top: 11px;
}
    
.menu1 button:hover{
    cursor: pointer;
    background-color: #31313131;
    color:white;
}
    
.exp-right h2 {
    color: #808080;
    margin-top: -15px;
}
    
.exp-right h1 {
    font-size: 30px
}
    
.exp-right {
    margin: -15px 0 0 70px;
}
    
.exp-right p{
    font-size: 18px;
    margin-left: 20px;
    width: 80%;
}
    
.exp-right li{
    margin: 30px 0 0 -25px;
}
    
.qualBtn{
    width: 180px;
    height: 50px;
    font-weight: bold;
    background: #181818;
    color: #cfcfcf;
    border: 0;  
    -webkit-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}
    
.wrap{
    display: flex;
    margin-left: 250px;
}
