.footer {
    height: 100vh;
    background-color: #324a5f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContent{
    width: 80vw;
}

.footerTop{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15vh;
}

.topFlex{
    display: flex;
    gap: 25%;
    font-size: 21px;
}

.footerTitle{
    font-size: 25px;
    font-weight: bold;
}

.footerIcons{
    display: flex;
    gap: 2%;
    width: 80vw;
    padding-top: 3%;
}

.copyright{
    font-size: 25px;
    font-family: LeagueSpartan;
}

.icons{
    display: flex;
    justify-content: right;
    gap: 3%;
    align-items: center;
}

.icons div{
    width: 5% !important;
}

.footerIcons div{
    width: 50%;
}

.icon {
    height: 40px;
    width: auto;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .footer {
        width: 30%;
    }

}

.icon:hover {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        
}

.icon {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
