.footer {
    display: block;
    color: white;
    bottom: 0;
    width: 10%;
    height: 160px;
    position: fixed;
    margin-bottom: 100px;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
}

.footer a :hover {
    transform: translateY(-3px);
}

* { box-sizing: border-box; }