.header {   
    display: flex;
    width: 100%;
    height: 15vh;
    position: fixed;
    z-index: 99;
    justify-content: right;
}

.burger {
    display: flex;
    gap: .5vw;
    padding-right: 3%;
}

    .burger img{
        width: 3vw;
        height: auto;
    }

    .burger img:hover{
        cursor: pointer;
    }

.moon {
    width: 45px !important;
    height: auto !important;
}

/*MOBILE */
@media only screen and (max-width: 600px) {
    .header {
        gap: 30vw;
    }
    
    .menu {
        display: none;
    }

    .big {
        margin-left: 0;
    }
}