.home{
    height: 81vh; 
    justify-content: center; 
    align-items: center; 
}

.home-backdrop {
    display: flex;
    background-color: var(--main-colour);
    justify-content: center; 
    align-items: center;
    height: 25rem;
}

.home-backdrop-content {
    width: 45rem;
}

.home-backdrop-content-intro{
    color: #b3b3b3;
    padding-left: 3px;
    margin: 0;
}

.home-backdrop-content-intro-name h1{
    margin: 0;
    margin-top: 15px;
    font-size: 9vh;
    font-family: LeagueSpartan;
}

.home-backdrop-content-intro-name h2 {
    font-size: 2rem;
    color: #ccc9dc;
    margin: 0;
    font-family: LeagueSpartan;
}

.home-backdrop-emoji{
    width: 20rem;
    height: auto;
}


button {
    width: 300px;
    height: 50px;
    font-weight: bold;
    background: #181818;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    margin: auto 0 auto 0;




    -webkit-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    transition: color 0.4s linear;  
}
  
    button:hover {
        cursor: pointer;
        background-color: #c9c9c9;
        color: black; 
        border: #c9c9c9;  
    }


.home-arrow {
    display: none; 
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.arrow :hover{
    cursor: pointer; 
    transform: translateY(3px);
}




/*MOBILE */
@media only screen and (max-width: 600px) {

    .home-backdrop-content-intro-name{
        text-align: center;
    }

    .home-backdrop-content-intro-name h1{
        font-size: 6.5vh;
    }

    .home-backdrop-emoji{
        display: none;
    }

    .home-arrow{
        display: block;
        animation: float 2s ease-in-out infinite;
        width: 5rem;
    }
}