.home-main{
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.wrap-home {
    display: flex;
    background-color: var(--main-colour);
    justify-content: center; 
    align-items: center;
    width: 100vw;
    height: 50vh;
    gap: 4%;
}


.cont {
    font-size: 10px;
    width: 40vw;
}

.emoji{
    width: 20vw;
    height: auto;
}


button {
    width: 300px;
    height: 50px;
    font-weight: bold;
    background: #181818;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    margin: auto 0 auto 0;
    
    -webkit-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    transition: color 0.4s linear;  
}
  
    button:hover {
        cursor: pointer;
        background-color: #c9c9c9;
        color: black; 
        border: #c9c9c9;  
    }



.tag{
    font-weight: bold;
}

.arrow {
    width: 50px;
    height: 40px;
    margin: 0 auto 0 auto;
    animation: float 2s ease-in-out infinite;
    display: none; 
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.arrow :hover{
    cursor: pointer; 
    transform: translateY(3px);
}

.name h2 {
    font-size: 60px;
    color: #ccc9dc;
    margin: 0;
    font-family: LeagueSpartan;
}

.name h1{
    margin: 0;
    margin-top: 15px;
    font-size: 10vh;
    font-family: LeagueSpartan;
}

.cont p {
    font-size: 20px;
}

.name {
    font-size: 5.5em;
    font-weight: bold;
}

.intro{
    color: #b3b3b3;
    padding-left: 10px;
    margin: 0;
}

/*MOBILE */
@media only screen and (max-width: 600px) {
    .cont {
        margin-left: 3%;
        width: 100vw !important;
        margin: 0;
    }

    .wrapper {
        margin-top: 10vh !important;
    }

    .name h1 {
        font-size: 70px;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .name h2 {
        font-size: 27px;
        padding-bottom: 2%;
    }

    .tag {
        font-size: 100px;
        padding-top: 4%;
    }

    .arrow{
        margin: 28vh auto 100px auto !important;
        display: block;
    }

    .intro{
        padding: 0;
    }
    
    .arrow-wrap{
        text-align: center;
    }


    .wrapper{
        height: 100%;
    }

    .tag{
        display: none;
    }

    .cube {
        display: none;
    }
}