.knownlang{
    height: 10vh;
    width: 35vw;
    background-color: #ffffff0a;
}


/* .box {
    display: flex;
    background: #ffffff0a;
    gap: 10%;
    padding: 1% 5% 1% 2%;
    border-radius: 3%;
    text-align: left;
}

.box h1 {
    margin: auto 0 auto 0;   
    font-weight: bold;
    font-size: 16px;
}

.box img {
    margin: auto 0 auto 0; 
    height:35px;
    width: auto;  
} */

