#projectScroll{
    height: 100vh;
    background-color: #324a5f;
}

.projWrapper{
    justify-content: center;
    align-items: center;
    height: inherit;
    display: flex;
}

.projContent{
    background-color: #354e64;
    height: 70%;
    width: 83%;
    margin: 5% auto 0 auto;
    display: flex;
}

.projLeft {
    border-right: 1px solid white;
    /* #ccc9dc; */
    width: 50%;
}

.projRight {
    width: 50%;
}

.projLeftContent {
    padding-top: 15%;
    padding-left: 12%;
    font-size: 25px;
    width: 100%;
}


.projContent p{
    width: 40%;
    margin-bottom: 10%;
    color: #ccc9dc;
}

.projRightContent {
    padding-top: 15%;
    padding-left: 12%;
    font-size: 25px;
    width: 100%;
}

.projContent button {
    font-size: 15px; 
    border: 1px solid silver;
    width: 18vw;
    height: 7vh;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #354e64;
    color: white;
    font-weight: bold;
    border-radius: 0;
}
