.qualTitle h1::after{
    content: "";
    display: block;
    width: 400px;
    height: 1px;
    background-color: #808080;
    margin: -17px 0 0 233px;
}
    
.qualTitle {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    gap: 30px;
    font-family: century;
}
    
.qualTitle h2{
    padding-top: 11px;
}
    
#mark1 {
    right: 200px;
    position: absolute;
}
    
.qual {
    display: flex;
    gap: 200px;
    margin-left: 50px;
    width: 90%;
}
    
.mark {
    font-weight: bold;
}
    
.qual p {
    font-size: 15px;
}
    
.content-wrap h1 {
    font-size: 20px; 
    padding-top: 5px;
    font-style: italic;
}
    
.content-wrap {
    margin: 20px 0 5% 200px;
}

    